<div class = "container">
      <div class = "row">
        <div class = "col-md-12">
          <div class = "m-5"></div>
            <h2>商品編集</h2>
          </div>
        <%= form_with model: @item, url: admin_item_path do |f| %>
        <div class = "row">
        <div class = "offset-md-2 col-md-2 mt-3">商品画像</div>
        <div class = "col-md-8 mt-3"><%= f.file_field :image, accept: "image/*" %></div>
        <div class = "offset-md-2 col-md-2 mt-3">商品名</div>
        <div class = "col-md-8 mt-3"><%= f.text_field :name %></div>
        <div class = "offset-md-2 col-md-2 mt-3">商品説明</div>
        <div class = "col-md-8 mt-3"><%= f.text_area :introduction %></div>
        <div class = "offset-md-2 col-md-2 mt-3">ジャンル</div>
        <div class = "col-md-8 mt-3"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %></div>
        <div class = "offset-md-2 col-md-2 mt-3">税抜価格</div>
        <div class = "col-md-8 mt-3"><%= f.number_field :price %>円</div>
        <div class = "offset-md-2 col-md-2 mt-3">販売ステータス</div>
        <div class = "col-md-8 mt-3">
            <%= f.radio_button :is_active, true %>
            <%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, false %>
            <%= f.label :is_active, "販売停止中" %>
        </div>
        <div class = "col-md-12 mt-3 text-center"><%= f.submit '変更を保存' %></div>
        <% end %>
     </div>
  </div>
</div>