<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <h1 class = "center navbar-brand ml-5">
    Nagano Cake
  </h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto mr-5">
      <li class="nav-item active">
        <div>
           <%= link_to "TOPページ", root_path, class:"nav-link" %>
           <span class="sr-only">(current)</span></div>
      </li>
      <% if customer_signed_in? %>
      <li class="nav-item">
        <div>
           <%= link_to "商品一覧画面", items_path, class:"nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <%= link_to "カート画面",  cart_items_path, class:"nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <%= link_to "マイページ", customers_mypage_path(current_customer), class:"nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"nav-link" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item">
        <div>
           <%= link_to "about", about_path, class:"nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <%= link_to "新規登録", new_customer_registration_path, class:"nav-link" %>
        </div>
      </li>
      <li class="nav-item">
        <div>
          <%= link_to "ログイン", new_customer_session_path, class:"nav-link" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</nav>