<body>
   <div class = "container">
      <div class = "row">
         <% if customer_signed_in? %>
         <% else %>
         <div class = "col-12">
            <div class = "text-center">
               <h1>ようこそNagano Cakeへ！</h1><br>
               このサイトは、ケーキ販売のECサイトになります。<br>
               会員でない方も商品の閲覧はできますが、<br>
               購入には会員登録が必要になります。
            </div>
         </div>
         <% end %>
         <div class = "col-12">
            <h1 class = "mt-5">新着商品</h1>
         </div>
         <% @items.each do |items| %>
            <div class = "col-md-3">
               <div class = "mt-3">
                  <%= link_to item_path(items.id) do %>
                  <%= image_tag items.image, size: '250x200' %>
                  <% end %>
               </div>
               <div class = "mt-2">
                  <%= items.name %>
               </div>
               <div class = "mt-2">
                  ¥<%= items.price %>
               </div>
            </div>
         <% end %>
         <div class = "col-12">
            <div class = "float-right mt-5">
               <%= link_to "全ての商品を見る＞", items_path %>
            </div>
         </div>
      </div>
   </div>
</body>

<footer>

</footer>