<h1>test</h1>

<div>
   <%= form_with model: @genre, url: admin_genre_path do |f| %>
   <div>
      <%= f.label :name %>
   </div>
   <div>
      <%= f.text_field :name %>
   </div>
   <div>
      <%= f.submit 'Update Genre' %>
   </div>
   <% end %>
   <div>
      <%= link_to "Back", admin_genres_path %>
   </div>
</div>


