
<%= render 'admin/homes/list' %>

<tbody>
   <%= form_with model: @genre, url: admin_genres_path do |f| %>
   <tr>
      <div>
         <h3>New Genre</h3>
      </div>
      <td>
         <%= f.label :name %>
      </td>
      <td>
         <%= f.text_field :name %>
      </td>
      <td>
         <%= f.submit'Create Genre' %>
      </td>
   </tr>
   <% end %>
</tbody>

<tbody>
   <% @genres.each do |genres| %>
   <tr>
      <td>
         <h4><%= link_to genres.name, edit_admin_genre_path(genres.id) %></h4>
      </td>
   </tr>
   <% end %>
</tbody>