<header>
   <%= render 'public/homes/list' %>
</header>

<h1>商品一覧</h1>

<div>
   <%= link_to "カートを空にする", cart_items_erase_all_path, method: :delete %>
</div>

<tbody>
    <% @cart_items.each do |cart_items| %>
   <tr>
       <div>
          <td>
              名前
              <%= cart_items.item.name %>
           </td>
           <td>
               個数
               <%= form_with model: cart_items, url: cart_item_path(cart_items.id) do |f| %>
                  <%= f.select :amount, *[1..20]%>
                  <%= f.submit '追加' %>
               <% end %>
           </td>
           <%= link_to "削除する", cart_item_path(cart_items.id), method: :delete %>
       </div>
   </tr>
   <% end %>
</tbody>
 <tbody>
  <% @cart_items.each do |cart_item| %>
      <div>
          <%= cart_item.item.with_tax_price %>
          <%= cart_item.subtotal %>
          <% @total_price += cart_item.subtotal %>
      </div>
  <% end %>

  <% if @total_price != 0 %>
  <%= @total_price %>
  <% end %>
  </tbody>



<div>
  <%= link_to "買い物を続ける", items_path %>
</div>
<div>
  <%= link_to "情報入力に進む", orders_new_path %>
</div>