<body>
  <div class = "container">
    <div class = "row">
        <h2 class = "col-md-12">ログイン</h2>
        <h4 class = "col-md-12">会員の方はこちらからログイン</h4>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class = "container">
    <div class = "row">
      <h4 class = "col-md-12 mt-5  text-center">メールアドレス</h4>
      <div class = "col-md-12 mt-5 text-center"><%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"40x15"  %></div>
      <h4 class = "col-md-12 mt-5  text-center">パスワード</h4>
      <div class = "col-md-12 mt-5 text-center"><%= f.password_field :password, autocomplete: "current-password", :size=>"40x15"   %></div>
      <div class = "col-md-12 text-center">
        <div class = "mt-5">
          <%= f.submit "ログイン" %>
          <% end %>
        </div>
    </div>
    <h3 class = "col-md-12 mt-5 text-center">会員登録がお済みでない方</h1>
    <div class = "col-md-12 mt-5 text-center">
      <%= link_to new_customer_registration_path do %>
      <%= "こちら" %>
      <% end %>
      から新規登録を行なって下さい。
    </div>
  </div>
</body>